In [1]:
## Explore dataset - https://realpython.com/pandas-python-explore-dataset/
import pandas as pd

In [42]:
season1819 = pd.read_csv ("/Users/callumoconnor/Desktop/season_1819 copy 2.csv")

In [43]:
print(season1819.head(5))

  Div        Date      HomeTeam        AwayTeam  FTHG  FTAG FTR  HTHG  HTAG  \
0  E0  10/08/2018    Man United       Leicester     2     1   H     1     0
1  E0  11/08/2018   Bournemouth         Cardiff     2     0   H     1     0
2  E0  11/08/2018        Fulham  Crystal Palace     0     2   A     0     1
3  E0  11/08/2018  Huddersfield         Chelsea     0     3   A     0     2
4  E0  11/08/2018     Newcastle       Tottenham     1     2   A     1     2

  HTR     Referee  HS  AS  HST  AST  HF  AF  HC  AC  HY  AY  HR  AR  B365H  \
0   H  A Marriner   8  13    6    4  11   8   2   5   2   1   0   0   1.57
1   H    K Friend  12  10    4    1  11   9   7   4   1   1   0   0   1.90
2   A      M Dean  15  10    6    9   9  11   5   5   1   2   0   0   2.50
3   A  C Kavanagh   6  13    1    4   9   8   2   5   2   1   0   0   6.50
4   A  M Atkinson  15  15    2    5  11  12   3   5   2   2   0   0   3.90

   B365D  B365A   BWH  BWD   BWA   IWH   IWD   IWA   PSH   PSD   PSA   WHH  \
0    3.9   7.50  1.53  4.0  7.50  1.55  3.80  7.00  1.58  3.93  7.50  1.57
1    3.6   4.50  1.90  3.4  4.40  1.90  3.50  4.10  1.89  3.63  4.58  1.91
2    3.4   3.00  2.45  3.3  2.95  2.40  3.30  2.95  2.50  3.46  3.00  2.45
3    4.0   1.61  6.25  3.9  1.57  6.20  4.00  1.55  6.41  4.02  1.62  5.80
4    3.5   2.04  3.80  3.5  2.00  3.70  3.35  2.05  3.83  3.57  2.08  3.80

   WHD   WHA   VCH  VCD   VCA  Bb1X2  BbMxH  BbAvH  BbMxD  BbAvD  BbMxA  \
0  3.8  6.00  1.57  4.0  7.00     39   1.60   1.56   4.20   3.92   8.05
1  3.5  4.00  1.87  3.6  4.75     39   1.93   1.88   3.71   3.53   4.75
2  3.3  2.80  2.50  3.4  3.00     39   2.60   2.47   3.49   3.35   3.05
3  3.9  1.57  6.50  4.0  1.62     38   6.85   6.09   4.07   3.90   1.66
4  3.2  2.05  3.90  3.4  2.10     39   4.01   3.83   3.57   3.40   2.12

   BbAvA  BbOU  BbMx>2.5  BbAv>2.5  BbMx<2.5  BbAv<2.5  BbAH  BbAHh  BbMxAHH  \
0   7.06    38      2.12      2.03      1.85      1.79    17  -0.75     1.75
1   4.37    38      2.05      1.98      1.92      1.83    20  -0.75     2.20
2   2.92    38      2.00      1.95      1.96      1.87    22  -0.25     2.18
3   1.61    37      2.05      1.98      1.90      1.84    23   1.00     1.84
4   2.05    38      2.10      2.01      1.88      1.81    20   0.25     2.20

   BbAvAHH  BbMxAHA  BbAvAHA  PSCH  PSCD  PSCA
0     1.70     2.29     2.21  1.55  4.07  7.69
1     2.13     1.80     1.75  1.88  3.61  4.70
2     2.11     1.81     1.77  2.62  3.38  2.90
3     1.80     2.13     2.06  7.24  3.95  1.58
4     2.12     1.80     1.76  4.74  3.53  1.89

In [45]:
season1819.describe()

,FTHG,FTAG,HTHG,HTAG,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,PSH,PSD,PSA,WHH,WHD,WHA,VCH,VCD,VCA,Bb1X2,BbMxH,BbAvH,BbMxD,BbAvD,BbMxA,BbAvA,BbOU,BbMx>2.5,BbAv>2.5,BbMx<2.5,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
count,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000
mean,1.568421,1.252632,0.678947,0.573684,14.134211,11.144737,4.778947,3.928947,10.152632,10.305263,5.705263,4.552632,1.526316,1.684211,0.047368,0.076316,3.289184,4.583447,5.633763,3.142579,4.383447,5.205237,3.047526,4.295789,4.967132,3.229184,4.527026,5.584342,3.149395,4.368895,5.339579,3.325000,4.521395,5.815868,36.555263,3.444289,3.170289,4.719026,4.407263,6.099816,5.355868,34.339474,1.896816,1.828526,2.234421,2.126895,20.736842,-0.327632,2.025184,1.962447,2.002395,1.942053,3.332974,4.576342,5.620132
std,1.312836,1.180031,0.860802,0.766958,5.855371,4.654002,2.677686,2.283982,3.293532,3.503707,2.971718,2.730627,1.222844,1.209140,0.212706,0.275599,3.264296,1.944515,5.920971,2.892574,1.699503,5.133880,2.623373,1.512122,4.667690,3.000273,1.819129,5.760324,2.970813,1.713942,5.648228,3.318863,1.876364,6.541499,2.127741,3.594133,2.941928,2.081994,1.718748,7.163968,5.502668,2.012630,0.334501,0.309769,0.524738,0.467750,1.571249,1.056248,0.247373,0.230633,0.226581,0.215442,3.137394,2.019487,5.779454
min,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.060000,3.000000,1.120000,1.050000,3.000000,1.130000,1.070000,2.950000,1.120000,1.070000,3.040000,1.130000,1.050000,3.000000,1.120000,1.050000,3.000000,1.140000,32.000000,1.080000,1.060000,3.060000,2.970000,1.160000,1.130000,29.000000,1.240000,1.220000,1.500000,1.450000,17.000000,-3.000000,1.550000,1.500000,1.440000,1.400000,1.070000,2.930000,1.120000
25%,1.000000,0.000000,0.000000,0.000000,10.000000,8.000000,3.000000,2.000000,8.000000,8.000000,4.000000,2.750000,1.000000,1.000000,0.000000,0.000000,1.570000,3.500000,2.300000,1.570000,3.400000,2.250000,1.600000,3.400000,2.287500,1.590000,3.460000,2.330000,1.570000,3.400000,2.250000,1.600000,3.475000,2.300000,35.000000,1.642500,1.577500,3.520000,3.400000,2.400000,2.297500,33.000000,1.650000,1.600000,1.860000,1.797500,20.000000,-1.000000,1.830000,1.787500,1.817500,1.770000,1.595000,3.410000,2.335000
50%,1.000000,1.000000,0.000000,0.000000,14.000000,11.000000,5.000000,4.000000,10.000000,10.000000,5.000000,4.000000,1.000000,2.000000,0.000000,0.000000,2.300000,3.800000,3.400000,2.250000,3.700000,3.300000,2.250000,3.650000,3.300000,2.300000,3.815000,3.430000,2.250000,3.700000,3.275000,2.300000,3.800000,3.400000,36.000000,2.340000,2.270000,3.900000,3.725000,3.500000,3.325000,34.000000,1.850000,1.790000,2.120000,2.030000,21.000000,-0.250000,2.000000,1.930000,1.995000,1.940000,2.350000,3.765000,3.415000
75%,2.000000,2.000000,1.000000,1.000000,18.000000,14.000000,6.000000,5.250000,12.000000,13.000000,8.000000,6.000000,2.000000,2.000000,0.000000,0.000000,3.250000,5.000000,6.500000,3.200000,4.750000,6.000000,3.150000,4.525000,5.525000,3.270000,4.857500,6.535000,3.200000,4.750000,6.000000,3.300000,4.800000,6.500000,38.000000,3.302500,3.190000,5.100000,4.775000,6.812500,6.187500,35.000000,2.100000,2.030000,2.450000,2.330000,22.000000,0.250000,2.190000,2.120000,2.152500,2.092500,3.380000,4.842500,6.565000
max,6.000000,6.000000,4.000000,3.000000,36.000000,25.000000,14.000000,12.000000,23.000000,21.000000,16.000000,14.000000,6.000000,5.000000,1.000000,2.000000,23.000000,17.000000,41.000000,21.000000,14.000000,36.000000,20.000000,12.000000,29.000000,21.510000,14.960000,42.940000,21.000000,13.000000,46.000000,23.000000,15.000000,51.000000,42.000000,28.000000,20.840000,17.250000,14.370000,60.000000,40.610000,40.000000,2.900000,2.740000,4.750000,4.170000,24.000000,2.500000,3.150000,3.010000,2.770000,2.650000,24.770000,14.920000,36.050000

In [46]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 
sns.set(color_codes=True)
%matplotlib inline

In [47]:
import sys

In [63]:
print (season1819.groupby('HomeTeam').sum())

                FTHG  FTAG  HTHG  HTAG   HS   AS  HST  AST   HF   AF   HC  \
HomeTeam
Arsenal           42    16    14     8  256  217   96   75  218  256  128
Bournemouth       30    25    15    10  229  249   82   82  187  232   96
Brighton          19    28    10    12  200  224   53   79  221  167   90
Burnley           24    32    14    12  210  287   66   94  184  193   80
Cardiff           21    38     8    18  230  254   68   92  195  232   95
Chelsea           39    12    16     6  325  157  118   49  154  202  120
Crystal Palace    19    23     8     6  294  223   76   66  180  211  130
Everton           30    21    14    11  279  190   85   68  218  226  119
Fulham            22    36     9    20  274  253   86  108  199  159  102
Huddersfield      10    31     4    18  203  223   57   89  214  196   85
Leicester         24    20    10    12  298  187   99   62  184  191  108
Liverpool         55    10    26     5  335  126  126   40  149  175  133
Man City          57    12    28     7  386  113  148   40  162  155  143
Man United        33    25    16     7  284  210  126   81  213  209  116
Newcastle         24    25    10    12  266  204   80   60  203  189  112
Southampton       27    30    14    13  258  240   89   79  219  188  101
Tottenham         34    16    13     5  308  218  105   83  174  177  102
Watford           26    28     7    14  224  216   83   87  221  194   91
West Ham          32    27    12    13  245  220   88   87  165  199  108
Wolves            28    21    10     9  267  224   85   72  198  165  109

                 AC  HY  AY  HR  AR   B365H   B365D   B365A     BWH     BWD  \
HomeTeam
Arsenal          83  40  38   0   1   35.76   92.65  138.27   34.66   88.63
Bournemouth     110  36  44   1   5   63.56   75.35   59.33   62.27   72.38
Brighton         87  30  29   2   1   86.20   73.40   52.44   83.48   71.60
Burnley         104  33  33   0   2   99.97   74.15   47.45   91.54   71.50
Cardiff         116  33  32   0   2  109.52   76.43   42.62   98.95   73.48
Chelsea          72  20  29   0   0   30.77  107.15  196.49   30.65  100.10
Crystal Palace   86  25  31   1   0   62.48   73.65   67.97   60.30   71.15
Everton          73  24  43   0   0   52.72   75.90   82.46   52.15   73.05
Fulham           95  34  22   1   0   91.48   80.98   46.37   85.15   76.86
Huddersfield     72  27  35   3   2  107.26   76.05   43.46  102.95   73.60
Leicester        85  33  28   2   5   53.98   73.58   76.53   51.79   71.63
Liverpool        56  13  27   1   0   25.72  136.50  286.80   25.45  128.38
Man City         39  17  30   0   1   23.34  175.80  380.10   23.24  159.30
Man United       86  32  33   1   1   38.13   90.43  143.66   37.06   88.25
Newcastle       100  25  36   1   1   80.08   71.95   54.30   76.53   69.55
Southampton     105  39  34   2   1   65.97   72.25   63.29   63.93   69.85
Tottenham        81  20  29   0   2   34.73   94.75  154.00   33.95   91.10
Watford          92  38  21   3   3   63.52   72.33   62.04   61.46   71.00
West Ham         98  28  28   0   0   67.63   75.60   60.99   63.68   73.00
Wolves           90  33  38   0   2   57.07   72.81   82.26   54.99   71.30

                   BWA    IWH     IWD     IWA     PSH     PSD     PSA     WHH  \
HomeTeam
Arsenal         126.40  34.33   86.95  122.75   36.13   91.38  132.85   34.97
Bournemouth      57.70  61.77   71.25   55.99   63.16   74.59   59.60   62.27
Brighton         51.56  79.25   70.80   50.80   82.13   72.06   53.01   82.80
Burnley          46.40  83.95   72.00   46.17   93.38   74.27   47.92   92.49
Cardiff          42.26  91.80   73.20   42.07  104.29   76.32   42.94   97.35
Chelsea         173.41  30.97   98.60  161.20   30.95  103.79  190.48   30.43
Crystal Palace   65.17  59.85   70.00   62.07   62.45   72.94   68.34   60.41
Everton          78.56  50.58   71.45   72.63   52.28   75.02   83.68   52.31
Fulham           45.47  86.82   75.75   45.56   91.27   78.81   46.97   91.15
Huddersfield     42.31  98.60   73.60   41.96  106.52   75.13   43.54  102.82
Leicester        72.94  51.02   70.95   69.62   54.63   73.71   77.49   53.05
Liverpool       254.20  25.76  121.95  233.85   25.81  133.23  277.61   25.34
Man City        335.55  23.59  146.00  319.05   23.44  170.27  378.23   23.01
Man United      134.79  36.33   87.70  129.20   37.86   90.00  138.92   37.21
Newcastle        52.64  71.65   68.70   52.57   75.94   71.44   54.84   76.50
Southampton      60.66  59.54   70.10   60.30   65.64   72.89   62.79   63.86
Tottenham       141.35  34.13   90.20  130.40   34.89   93.48  156.38   33.94
Watford          60.52  59.93   70.25   59.10   61.82   72.92   63.60   59.76
West Ham         59.17  63.00   72.35   58.55   66.35   75.32   61.67   62.14
Wolves           76.93  55.19   70.60   73.67   58.15   72.70   81.19   54.96

                   WHD     WHA     VCH     VCD     VCA  Bb1X2   BbMxH   BbAvH  \
HomeTeam
Arsenal          87.54  130.78   35.74   91.50  136.44    694   36.60   35.31
Bournemouth      72.18   57.04   63.64   74.83   59.50    698   67.58   62.72
Brighton         70.93   50.73   88.24   72.48   53.12    689   90.35   82.25
Burnley          71.85   46.51   99.60   74.30   47.77    694  103.73   91.98
Cardiff          73.68   41.74  105.40   76.64   42.83    700  111.55   99.96
Chelsea         100.60  176.70   30.76  102.80  199.60    698   31.85   30.66
Crystal Palace   70.78   66.30   63.44   72.78   68.92    691   64.65   60.78
Everton          72.10   77.33   54.23   74.50   82.48    697   55.29   51.59
Fulham           75.78   45.27   95.41   79.30   46.98    690   98.34   88.52
Huddersfield     72.55   42.06  111.93   74.51   43.34    695  119.66  104.40
Leicester        71.35   72.74   54.90   72.95   77.36    695   56.29   53.25
Liverpool       128.58  273.80   25.69  135.20  310.30    691   26.36   25.65
Man City        161.15  363.00   23.34  172.15  413.00    697   23.91   23.30
Man United       88.13  130.14   37.75   89.40  141.63    696   38.92   37.28
Newcastle        68.40   53.51   80.66   70.44   55.12    700   82.68   76.30
Southampton      70.25   61.40   66.41   71.75   64.14    691   68.89   64.12
Tottenham        90.30  142.23   35.12   93.25  160.33    690   35.60   34.39
Watford          70.43   61.27   64.48   72.20   63.70    697   65.84   61.13
West Ham         73.40   59.39   67.80   75.25   61.73    695   70.29   65.05
Wolves           70.20   77.10   58.96   71.90   81.74    693   60.45   56.07

                 BbMxD   BbAvD   BbMxA   BbAvA  BbOU  BbMx>2.5  BbAv>2.5  \
HomeTeam
Arsenal          95.21   89.39  144.85  127.53   625     30.08     29.20
Bournemouth      76.29   72.87   60.78   57.71   658     34.56     33.33
Brighton         74.78   70.96   54.08   51.56   654     41.69     40.04
Burnley          76.74   72.49   49.04   46.94   658     40.33     38.68
Cardiff          78.65   74.27   43.97   42.30   656     39.83     38.21
Chelsea         109.24  100.59  208.89  180.32   646     31.83     30.80
Crystal Palace   74.49   71.40   69.95   65.99   655     38.25     36.90
Everton          77.11   73.24   85.39   79.13   661     36.62     35.36
Fulham           82.18   77.32   48.07   45.92   653     35.02     33.88
Huddersfield     79.01   73.69   44.46   42.65   657     42.46     40.59
Leicester        75.62   71.96   79.37   74.20   661     37.05     35.73
Liverpool       143.90  129.09  324.88  268.00   638     29.44     28.46
Man City        184.26  161.73  453.99  360.28   626     26.69     25.89
Man United       94.28   87.98  149.72  133.44   659     33.39     32.39
Newcastle        73.10   69.79   55.92   53.54   665     41.61     39.81
Southampton      74.52   71.05   65.12   61.39   658     38.35     36.90
Tottenham        98.03   90.93  167.07  145.31   648     31.89     30.93
Watford          74.49   71.28   64.94   61.36   657     36.76     35.47
West Ham         76.90   73.66   63.29   59.72   659     34.49     33.35
Wolves           74.43   71.07   84.15   77.94   655     40.45     38.92

                BbMx<2.5  BbAv<2.5  BbAH  BbAHh  BbMxAHH  BbAvAHH  BbMxAHA  \
HomeTeam
Arsenal            50.33     47.43   406 -17.25    37.78    36.59    38.36
Bournemouth        42.70     40.68   392   0.25    38.68    37.44    37.71
Brighton           35.82     34.34   381   5.50    37.88    36.84    39.12
Burnley            37.01     35.57   384   8.00    36.97    35.91    39.61
Cardiff            37.56     35.95   387   9.00    38.76    37.72    37.35
Chelsea            46.91     44.53   408 -23.50    38.07    36.80    38.33
Crystal Palace     38.13     36.61   385  -0.50    37.54    36.58    38.86
Everton            39.39     37.71   401  -6.75    39.68    38.23    37.07
Fulham             43.24     41.12   386   8.00    37.44    36.39    38.55
Huddersfield       35.50     34.10   394  11.50    36.54    35.54    39.91
Leicester          39.17     37.46   391  -6.25    40.50    39.30    36.31
Liverpool          54.91     51.34   403 -32.25    37.74    36.39    38.57
Man City           65.30     61.08   404 -40.75    38.20    36.89    38.14
Man United         44.30     42.14   400 -16.75    38.11    36.84    38.64
Newcastle          35.95     34.48   389   3.00    39.25    38.08    37.46
Southampton        38.19     36.66   390  -0.75    39.71    38.39    36.80
Tottenham          46.65     44.07   402 -18.75    38.01    36.84    38.37
Watford            39.87     38.08   388  -1.50    39.86    38.64    36.92
West Ham           42.30     40.40   390   0.50    38.79    37.68    37.59
Wolves             35.85     34.47   399  -5.25    40.06    38.64    37.24

                BbAvAHA    PSCH    PSCD    PSCA
HomeTeam
Arsenal           37.21   36.94   93.04  137.77
Bournemouth       36.67   70.25   76.32   58.21
Brighton          37.99   82.00   71.10   54.20
Burnley           38.53   93.08   73.81   47.66
Cardiff           36.32  107.16   78.74   43.21
Chelsea           36.99   30.50  104.66  202.01
Crystal Palace    37.71   67.99   74.10   68.50
Everton           35.93   53.93   75.22   86.76
Fulham            37.49   92.12   82.47   46.91
Huddersfield      38.73  110.49   76.49   43.72
Leicester         35.23   55.81   73.04   78.37
Liverpool         37.37   26.05  136.56  276.98
Man City          36.82   23.26  179.77  376.66
Man United        37.26   38.37   87.93  137.14
Newcastle         36.39   80.15   71.36   52.79
Southampton       35.80   70.05   74.20   63.86
Tottenham         37.05   35.68   93.35  158.15
Watford           35.89   63.76   71.14   63.05
West Ham          36.52   68.65   76.31   62.33
Wolves            36.08   60.29   69.40   77.37

In [24]:
import numpy as np

In [25]:
df.describe(include=np.object)

        Div        Date  HomeTeam  AwayTeam  FTR  HTR   Referee
count   380         380       380       380  380  380       380
unique    1         108        20        20    3    3        18
top      E0  12/05/2019  Brighton  Brighton    H    D  A Taylor
freq    380          10        19        19  181  148        32

In [66]:
df["Referee"].value_counts()

A Taylor      32
M Oliver      30
M Atkinson    29
M Dean        29
J Moss        27
K Friend      27
A Marriner    27
C Pawson      26
C Kavanagh    24
P Tierney     24
S Attwell     20
L Mason       19
L Probert     18
G Scott       17
D Coote       11
R East        10
S Hooper       8
A Madley       2
Name: Referee, dtype: int64

In [41]:
pd.set_option("display.max.columns", None)

In [ ]:
pd.set_option("display.precision", 2)

In [65]:
season1819.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 62 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Div       380 non-null    object
 1   Date      380 non-null    object
 2   HomeTeam  380 non-null    object
 3   AwayTeam  380 non-null    object
 4   FTHG      380 non-null    int64
 5   FTAG      380 non-null    int64
 6   FTR       380 non-null    object
 7   HTHG      380 non-null    int64
 8   HTAG      380 non-null    int64
 9   HTR       380 non-null    object
 10  Referee   380 non-null    object
 11  HS        380 non-null    int64
 12  AS        380 non-null    int64
 13  HST       380 non-null    int64
 14  AST       380 non-null    int64
 15  HF        380 non-null    int64
 16  AF        380 non-null    int64
 17  HC        380 non-null    int64
 18  AC        380 non-null    int64
 19  HY        380 non-null    int64
 20  AY        380 non-null    int64
 21  HR        380 non-null    int64
 22  AR        380 non-null    int64
 23  B365H     380 non-null    float64
 24  B365D     380 non-null    float64
 25  B365A     380 non-null    float64
 26  BWH       380 non-null    float64
 27  BWD       380 non-null    float64
 28  BWA       380 non-null    float64
 29  IWH       380 non-null    float64
 30  IWD       380 non-null    float64
 31  IWA       380 non-null    float64
 32  PSH       380 non-null    float64
 33  PSD       380 non-null    float64
 34  PSA       380 non-null    float64
 35  WHH       380 non-null    float64
 36  WHD       380 non-null    float64
 37  WHA       380 non-null    float64
 38  VCH       380 non-null    float64
 39  VCD       380 non-null    float64
 40  VCA       380 non-null    float64
 41  Bb1X2     380 non-null    int64
 42  BbMxH     380 non-null    float64
 43  BbAvH     380 non-null    float64
 44  BbMxD     380 non-null    float64
 45  BbAvD     380 non-null    float64
 46  BbMxA     380 non-null    float64
 47  BbAvA     380 non-null    float64
 48  BbOU      380 non-null    int64
 49  BbMx>2.5  380 non-null    float64
 50  BbAv>2.5  380 non-null    float64
 51  BbMx<2.5  380 non-null    float64
 52  BbAv<2.5  380 non-null    float64
 53  BbAH      380 non-null    int64
 54  BbAHh     380 non-null    float64
 55  BbMxAHH   380 non-null    float64
 56  BbAvAHH   380 non-null    float64
 57  BbMxAHA   380 non-null    float64
 58  BbAvAHA   380 non-null    float64
 59  PSCH      380 non-null    float64
 60  PSCD      380 non-null    float64
 61  PSCA      380 non-null    float64
dtypes: float64(36), int64(19), object(7)
memory usage: 184.2+ KB

In [72]:
season1819.loc[season1819["HomeTeam"] == "Man","HomeTeam"].value_counts()

Series([], Name: HomeTeam, dtype: int64)

In [80]:
season1819.loc[season1819["HomeTeam"] == "Man United","Date"].agg(("min","max"))

min    02/03/2019
max    30/12/2018
Name: Date, dtype: object

In [83]:
season1819.loc[season1819["HomeTeam"] == "Man United","FTHG"].sum()

33

In [84]:
## data structures / series objects tutorial https://realpython.com/pandas-python-explore-dataset/

In [85]:
revenues = pd.Series([5555, 7000, 1980])
revenues

0    5555
1    7000
2    1980
dtype: int64

In [86]:
revenues.values

array([5555, 7000, 1980])

In [87]:
revenues.index

RangeIndex(start=0, stop=3, step=1)

In [89]:
city_revenues = pd.Series(
    [4200, 8000, 6500],
index=["Amsterdam", "Toronto", "Tokyo"])

In [90]:
city_revenues

Amsterdam    4200
Toronto      8000
Tokyo        6500
dtype: int64

In [92]:
city_employee_count = pd.Series({"Amsterdam": 5, "Tokyo": 8})
city_employee_count

Amsterdam    5
Tokyo        8
dtype: int64

In [95]:
city_employee_count.keys()
"Tokyo" in city_employee_count

True

In [103]:
current_decade = season1819[season1819["Date"] > '01/04/2019']
current_decade.shape

(376, 62)

In [112]:
season1819[
(season1819["FTAG"] == 0) &
##(season1819["Date"] > '01/01/2019') &
(season1819["FTHG"] >= 1) &
(season1819["AwayTeam"].str.startswith("Man"))
##(season1819["HomeTeam"] == "Man United")
]

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,PSH,PSD,PSA,WHH,WHD,WHA,VCH,VCD,VCA,Bb1X2,BbMxH,BbAvH,BbMxD,BbAvD,BbMxA,BbAvA,BbOU,BbMx>2.5,BbAv>2.5,BbMx<2.5,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
154,E0,08/12/2018,Chelsea,Man City,2,0,H,1,0,H,M Oliver,8,14,5,4,12,11,1,13,2,0,0,0,4.00,3.8,1.95,3.90,3.7,1.91,4.00,3.60,1.9,4.00,3.75,1.99,3.80,3.7,1.95,3.90,3.8,2.0,38,4.20,3.85,3.80,3.67,2.00,1.95,35,1.75,1.69,2.26,2.17,20,0.75,1.73,1.70,2.31,2.24,3.56,3.47,2.22
296,E0,10/03/2019,Arsenal,Man United,2,0,H,1,0,H,J Moss,14,14,3,4,12,18,5,2,2,2,0,0,2.40,3.6,3.00,2.35,3.5,2.95,2.35,3.55,2.9,2.45,3.55,3.04,2.38,3.5,2.90,2.45,3.6,2.9,34,2.48,2.38,3.65,3.52,3.10,2.96,33,1.70,1.66,2.37,2.23,20,-0.25,2.11,2.06,1.85,1.82,2.42,3.54,3.09
344,E0,21/04/2019,Everton,Man United,4,0,H,2,0,H,P Tierney,15,7,8,1,11,7,10,2,1,1,0,0,3.25,3.5,2.30,3.20,3.4,2.25,3.10,3.45,2.3,3.23,3.55,2.34,3.20,3.4,2.25,3.30,3.4,2.3,35,3.30,3.17,3.60,3.44,2.35,2.30,33,1.91,1.86,2.04,1.95,19,0.25,1.94,1.89,2.03,1.98,3.17,3.55,2.37

In [116]:
homeGoals = season1819["FTHG"]
type(homeGoals)
homeGoals.sum()

596

In [119]:
season1819.groupby("Referee", sort=False)["FTHG"].sum()

Referee
A Marriner    37
K Friend      37
M Dean        44
C Kavanagh    41
M Atkinson    35
J Moss        48
C Pawson      25
M Oliver      39
A Taylor      59
G Scott       40
L Mason       31
S Attwell     35
P Tierney     37
L Probert     28
D Coote       24
R East        25
S Hooper       7
A Madley       4
Name: FTHG, dtype: int64

In [132]:
season1819[
(season1819["HomeTeam"] == "Man United") &
(season1819["Date"] > "2019")
].groupby(["Date", "FTR"])["Div"].count()

Date        FTR
22/09/2018  D      1
24/02/2019  D      1
24/04/2019  A      1
24/11/2018  D      1
26/12/2018  H      1
27/08/2018  A      1
28/04/2019  D      1
28/10/2018  H      1
29/01/2019  D      1
30/03/2019  H      1
30/12/2018  H      1
Name: Div, dtype: int64

In [143]:
df = season1819.copy()
df.shape

(380, 62)

In [145]:
df["goal_difference"] = df.FTHG - df.FTAG
df.shape

(380, 64)

In [146]:
df["goal_difference"].max()

6

In [150]:
renamed_df = df.rename(
     columns={"difference": "goal_diff"}
)
renamed_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 63 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Div        380 non-null    object
 1   Date       380 non-null    object
 2   HomeTeam   380 non-null    object
 3   AwayTeam   380 non-null    object
 4   FTHG       380 non-null    int64
 5   FTAG       380 non-null    int64
 6   FTR        380 non-null    object
 7   HTHG       380 non-null    int64
 8   HTAG       380 non-null    int64
 9   HTR        380 non-null    object
 10  Referee    380 non-null    object
 11  HS         380 non-null    int64
 12  AS         380 non-null    int64
 13  HST        380 non-null    int64
 14  AST        380 non-null    int64
 15  HF         380 non-null    int64
 16  AF         380 non-null    int64
 17  HC         380 non-null    int64
 18  AC         380 non-null    int64
 19  HY         380 non-null    int64
 20  AY         380 non-null    int64
 21  HR         380 non-null    int64
 22  AR         380 non-null    int64
 23  B365H      380 non-null    float64
 24  B365D      380 non-null    float64
 25  B365A      380 non-null    float64
 26  BWH        380 non-null    float64
 27  BWD        380 non-null    float64
 28  BWA        380 non-null    float64
 29  IWH        380 non-null    float64
 30  IWD        380 non-null    float64
 31  IWA        380 non-null    float64
 32  PSH        380 non-null    float64
 33  PSD        380 non-null    float64
 34  PSA        380 non-null    float64
 35  WHH        380 non-null    float64
 36  WHD        380 non-null    float64
 37  WHA        380 non-null    float64
 38  VCH        380 non-null    float64
 39  VCD        380 non-null    float64
 40  VCA        380 non-null    float64
 41  Bb1X2      380 non-null    int64
 42  BbMxH      380 non-null    float64
 43  BbAvH      380 non-null    float64
 44  BbMxD      380 non-null    float64
 45  BbAvD      380 non-null    float64
 46  BbMxA      380 non-null    float64
 47  BbAvA      380 non-null    float64
 48  BbOU       380 non-null    int64
 49  BbMx>2.5   380 non-null    float64
 50  BbAv>2.5   380 non-null    float64
 51  BbMx<2.5   380 non-null    float64
 52  BbAv<2.5   380 non-null    float64
 53  BbAH       380 non-null    int64
 54  BbAHh      380 non-null    float64
 55  BbMxAHH    380 non-null    float64
 56  BbAvAHH    380 non-null    float64
 57  BbMxAHA    380 non-null    float64
 58  BbAvAHA    380 non-null    float64
 59  PSCH       380 non-null    float64
 60  PSCD       380 non-null    float64
 61  PSCA       380 non-null    float64
 62  goal_diff  380 non-null    int64
dtypes: float64(36), int64(20), object(7)
memory usage: 187.2+ KB

In [149]:
df.drop("goal_difference", inplace=True, axis=1)
df.shape

(380, 63)

In [151]:
df["Date"] = pd.to_datetime(df["Date"])

In [163]:
df[
##(df["FTAG"] == 0) &
(df["Date"] > '01/08/2019') &
(df["FTHG"] >= 1) &
##(df["HomeTeam"].str.startswith("Man"))
(df["HomeTeam"] == "Man United")
]

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,PSH,PSD,PSA,WHH,WHD,WHA,VCH,VCD,VCA,Bb1X2,BbMxH,BbAvH,BbMxD,BbAvD,BbMxA,BbAvA,BbOU,BbMx>2.5,BbAv>2.5,BbMx<2.5,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA,difference
223,E0,2019-01-19,Man United,Brighton,2,1,H,2,0,H,P Tierney,20,7,5,3,11,11,6,5,1,0,0,0,1.30,5.75,12.0,1.30,5.50,10.50,1.30,5.5,9.6,1.32,5.62,10.92,1.29,5.50,11.0,1.30,5.50,12.00,36,1.33,1.30,6.00,5.49,12.0,10.75,35,1.73,1.68,2.29,2.20,22,-1.50,2.00,1.93,2.00,1.94,1.38,5.02,9.59,1
233,E0,2019-01-29,Man United,Burnley,2,2,D,0,0,D,J Moss,28,6,9,4,10,9,11,3,1,3,0,0,1.28,6.00,12.0,1.26,6.00,12.00,1.22,6.5,12.5,1.29,5.73,11.91,1.25,5.80,12.0,1.29,6.00,13.00,36,1.31,1.28,6.50,5.83,13.5,11.77,34,1.60,1.55,2.55,2.45,22,-1.50,1.88,1.82,2.20,2.06,1.34,5.22,10.33,0
282,E0,2019-02-03,Man United,Southampton,3,2,H,0,1,A,S Attwell,16,6,6,3,7,10,9,7,2,1,0,0,1.45,4.50,8.5,1.44,4.50,7.50,1.45,4.5,7.1,1.45,4.61,8.37,1.44,4.33,8.0,1.45,4.50,8.00,34,1.50,1.45,4.75,4.47,8.5,7.67,33,1.75,1.69,2.25,2.19,21,-1.00,1.75,1.72,2.26,2.19,1.47,4.55,7.80,1
309,E0,2019-03-30,Man United,Watford,2,1,H,1,0,H,S Attwell,8,20,5,8,14,9,3,5,1,2,0,0,1.44,4.75,8.0,1.42,4.75,7.50,1.40,4.6,8.3,1.45,4.85,7.50,1.42,4.75,7.5,1.45,4.75,8.00,34,1.47,1.44,4.92,4.71,8.5,7.46,32,1.67,1.65,2.45,2.27,22,-1.00,1.75,1.70,2.28,2.21,1.41,5.22,7.95,1
329,E0,2019-04-13,Man United,West Ham,2,1,H,1,0,H,G Scott,14,18,4,4,14,5,3,11,1,1,0,0,1.40,5.25,8.5,1.42,4.75,7.50,1.40,5.0,7.2,1.42,5.02,8.33,1.38,5.00,8.0,1.40,5.25,7.50,35,1.42,1.40,5.30,5.03,9.0,7.90,33,1.56,1.52,2.75,2.55,21,-1.50,2.14,2.08,1.86,1.79,1.33,5.93,9.70,1
359,E0,2019-04-28,Man United,Chelsea,1,1,D,1,1,D,M Atkinson,7,16,5,3,9,14,6,6,3,2,0,0,2.70,3.50,2.7,2.65,3.40,2.65,2.65,3.4,2.6,2.73,3.43,2.77,2.62,3.40,2.7,2.63,3.50,2.75,35,2.75,2.67,3.50,3.38,2.8,2.69,33,1.92,1.85,2.05,1.97,18,-0.25,2.36,2.31,1.72,1.66,2.77,3.38,2.76,0

In [164]:
df["FTR"].nunique()

3

In [165]:
df["FTR"].value_counts()

H    181
A    128
D     71
Name: FTR, dtype: int64

In [167]:
df["FTR"] = pd.Categorical(df["FTR"])
df["FTR"].dtype

CategoricalDtype(categories=['A', 'D', 'H'], ordered=False)

In [177]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 63 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Div         380 non-null    object
 1   Date        380 non-null    datetime64[ns]
 2   HomeTeam    380 non-null    object
 3   AwayTeam    380 non-null    object
 4   FTHG        380 non-null    int64
 5   FTAG        380 non-null    int64
 6   FTR         380 non-null    category
 7   HTHG        380 non-null    int64
 8   HTAG        380 non-null    int64
 9   HTR         380 non-null    object
 10  Referee     380 non-null    object
 11  HS          380 non-null    int64
 12  AS          380 non-null    int64
 13  HST         380 non-null    int64
 14  AST         380 non-null    int64
 15  HF          380 non-null    int64
 16  AF          380 non-null    int64
 17  HC          380 non-null    int64
 18  AC          380 non-null    int64
 19  HY          380 non-null    int64
 20  AY          380 non-null    int64
 21  HR          380 non-null    int64
 22  AR          380 non-null    int64
 23  B365H       380 non-null    float64
 24  B365D       380 non-null    float64
 25  B365A       380 non-null    float64
 26  BWH         380 non-null    float64
 27  BWD         380 non-null    float64
 28  BWA         380 non-null    float64
 29  IWH         380 non-null    float64
 30  IWD         380 non-null    float64
 31  IWA         380 non-null    float64
 32  PSH         380 non-null    float64
 33  PSD         380 non-null    float64
 34  PSA         380 non-null    float64
 35  WHH         380 non-null    float64
 36  WHD         380 non-null    float64
 37  WHA         380 non-null    float64
 38  VCH         380 non-null    float64
 39  VCD         380 non-null    float64
 40  VCA         380 non-null    float64
 41  Bb1X2       380 non-null    int64
 42  BbMxH       380 non-null    float64
 43  BbAvH       380 non-null    float64
 44  BbMxD       380 non-null    float64
 45  BbAvD       380 non-null    float64
 46  BbMxA       380 non-null    float64
 47  BbAvA       380 non-null    float64
 48  BbOU        380 non-null    int64
 49  BbMx>2.5    380 non-null    float64
 50  BbAv>2.5    380 non-null    float64
 51  BbMx<2.5    380 non-null    float64
 52  BbAv<2.5    380 non-null    float64
 53  BbAH        380 non-null    int64
 54  BbAHh       380 non-null    float64
 55  BbMxAHH     380 non-null    float64
 56  BbAvAHH     380 non-null    float64
 57  BbMxAHA     380 non-null    float64
 58  BbAvAHA     380 non-null    float64
 59  PSCH        380 non-null    float64
 60  PSCD        380 non-null    float64
 61  PSCA        380 non-null    float64
 62  difference  380 non-null    int64
dtypes: category(1), datetime64[ns](1), float64(36), int64(20), object(5)
memory usage: 184.7+ KB

In [181]:
def points (row):
    if row['FTR'] == 'A' :
        return 3
    if row['FTR'] == 'H' :
        return 3
    if row['FTR'] == 'D' :
        return 1
    return 'Other'

In [182]:
df.apply (lambda row: points (row), axis=1)

0      3
1      3
2      3
3      3
4      3
      ..
375    3
376    3
377    1
378    1
379    3
Length: 380, dtype: int64

In [184]:
df['points'] = df.apply (lambda row: points(row), axis=1)

In [188]:
df[
(df["Date"] > '01/08/2019') &
(df["FTHG"] >= 1) &
(df["HomeTeam"] == "Man United")
]

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,PSH,PSD,PSA,WHH,WHD,WHA,VCH,VCD,VCA,Bb1X2,BbMxH,BbAvH,BbMxD,BbAvD,BbMxA,BbAvA,BbOU,BbMx>2.5,BbAv>2.5,BbMx<2.5,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA,difference,points
223,E0,2019-01-19,Man United,Brighton,2,1,H,2,0,H,P Tierney,20,7,5,3,11,11,6,5,1,0,0,0,1.30,5.75,12.0,1.30,5.50,10.50,1.30,5.5,9.6,1.32,5.62,10.92,1.29,5.50,11.0,1.30,5.50,12.00,36,1.33,1.30,6.00,5.49,12.0,10.75,35,1.73,1.68,2.29,2.20,22,-1.50,2.00,1.93,2.00,1.94,1.38,5.02,9.59,1,3
233,E0,2019-01-29,Man United,Burnley,2,2,D,0,0,D,J Moss,28,6,9,4,10,9,11,3,1,3,0,0,1.28,6.00,12.0,1.26,6.00,12.00,1.22,6.5,12.5,1.29,5.73,11.91,1.25,5.80,12.0,1.29,6.00,13.00,36,1.31,1.28,6.50,5.83,13.5,11.77,34,1.60,1.55,2.55,2.45,22,-1.50,1.88,1.82,2.20,2.06,1.34,5.22,10.33,0,1
282,E0,2019-02-03,Man United,Southampton,3,2,H,0,1,A,S Attwell,16,6,6,3,7,10,9,7,2,1,0,0,1.45,4.50,8.5,1.44,4.50,7.50,1.45,4.5,7.1,1.45,4.61,8.37,1.44,4.33,8.0,1.45,4.50,8.00,34,1.50,1.45,4.75,4.47,8.5,7.67,33,1.75,1.69,2.25,2.19,21,-1.00,1.75,1.72,2.26,2.19,1.47,4.55,7.80,1,3
309,E0,2019-03-30,Man United,Watford,2,1,H,1,0,H,S Attwell,8,20,5,8,14,9,3,5,1,2,0,0,1.44,4.75,8.0,1.42,4.75,7.50,1.40,4.6,8.3,1.45,4.85,7.50,1.42,4.75,7.5,1.45,4.75,8.00,34,1.47,1.44,4.92,4.71,8.5,7.46,32,1.67,1.65,2.45,2.27,22,-1.00,1.75,1.70,2.28,2.21,1.41,5.22,7.95,1,3
329,E0,2019-04-13,Man United,West Ham,2,1,H,1,0,H,G Scott,14,18,4,4,14,5,3,11,1,1,0,0,1.40,5.25,8.5,1.42,4.75,7.50,1.40,5.0,7.2,1.42,5.02,8.33,1.38,5.00,8.0,1.40,5.25,7.50,35,1.42,1.40,5.30,5.03,9.0,7.90,33,1.56,1.52,2.75,2.55,21,-1.50,2.14,2.08,1.86,1.79,1.33,5.93,9.70,1,3
359,E0,2019-04-28,Man United,Chelsea,1,1,D,1,1,D,M Atkinson,7,16,5,3,9,14,6,6,3,2,0,0,2.70,3.50,2.7,2.65,3.40,2.65,2.65,3.4,2.6,2.73,3.43,2.77,2.62,3.40,2.7,2.63,3.50,2.75,35,2.75,2.67,3.50,3.38,2.8,2.69,33,1.92,1.85,2.05,1.97,18,-0.25,2.36,2.31,1.72,1.66,2.77,3.38,2.76,0,1

In [212]:
def home_points (row):
    if row['FTR'] == 'A' :
        return 0
    if row['FTR'] == 'H' :
        return 3
    if row['FTR'] == 'D' :
        return 1
    return 'Other'

In [213]:
df.apply (lambda row: home_points (row), axis=1)

0      3
1      3
2      0
3      0
4      0
      ..
375    3
376    0
377    1
378    1
379    0
Length: 380, dtype: int64

In [214]:
df['home_points'] = df.apply (lambda row: home_points(row), axis=1)

In [218]:
df[
(df["Date"] > '01/08/2019') &
(df["FTHG"] >= 1) &
(df["HomeTeam"] == "Man United")
]

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,PSH,PSD,PSA,WHH,WHD,WHA,VCH,VCD,VCA,Bb1X2,BbMxH,BbAvH,BbMxD,BbAvD,BbMxA,BbAvA,BbOU,BbMx>2.5,BbAv>2.5,BbMx<2.5,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA,difference,points,"(home_points, away_points)",home_points,away_points
223,E0,2019-01-19,Man United,Brighton,2,1,H,2,0,H,P Tierney,20,7,5,3,11,11,6,5,1,0,0,0,1.30,5.75,12.0,1.30,5.50,10.50,1.30,5.5,9.6,1.32,5.62,10.92,1.29,5.50,11.0,1.30,5.50,12.00,36,1.33,1.30,6.00,5.49,12.0,10.75,35,1.73,1.68,2.29,2.20,22,-1.50,2.00,1.93,2.00,1.94,1.38,5.02,9.59,1,3,3,3,0
233,E0,2019-01-29,Man United,Burnley,2,2,D,0,0,D,J Moss,28,6,9,4,10,9,11,3,1,3,0,0,1.28,6.00,12.0,1.26,6.00,12.00,1.22,6.5,12.5,1.29,5.73,11.91,1.25,5.80,12.0,1.29,6.00,13.00,36,1.31,1.28,6.50,5.83,13.5,11.77,34,1.60,1.55,2.55,2.45,22,-1.50,1.88,1.82,2.20,2.06,1.34,5.22,10.33,0,1,1,1,1
282,E0,2019-02-03,Man United,Southampton,3,2,H,0,1,A,S Attwell,16,6,6,3,7,10,9,7,2,1,0,0,1.45,4.50,8.5,1.44,4.50,7.50,1.45,4.5,7.1,1.45,4.61,8.37,1.44,4.33,8.0,1.45,4.50,8.00,34,1.50,1.45,4.75,4.47,8.5,7.67,33,1.75,1.69,2.25,2.19,21,-1.00,1.75,1.72,2.26,2.19,1.47,4.55,7.80,1,3,3,3,0
309,E0,2019-03-30,Man United,Watford,2,1,H,1,0,H,S Attwell,8,20,5,8,14,9,3,5,1,2,0,0,1.44,4.75,8.0,1.42,4.75,7.50,1.40,4.6,8.3,1.45,4.85,7.50,1.42,4.75,7.5,1.45,4.75,8.00,34,1.47,1.44,4.92,4.71,8.5,7.46,32,1.67,1.65,2.45,2.27,22,-1.00,1.75,1.70,2.28,2.21,1.41,5.22,7.95,1,3,3,3,0
329,E0,2019-04-13,Man United,West Ham,2,1,H,1,0,H,G Scott,14,18,4,4,14,5,3,11,1,1,0,0,1.40,5.25,8.5,1.42,4.75,7.50,1.40,5.0,7.2,1.42,5.02,8.33,1.38,5.00,8.0,1.40,5.25,7.50,35,1.42,1.40,5.30,5.03,9.0,7.90,33,1.56,1.52,2.75,2.55,21,-1.50,2.14,2.08,1.86,1.79,1.33,5.93,9.70,1,3,3,3,0
359,E0,2019-04-28,Man United,Chelsea,1,1,D,1,1,D,M Atkinson,7,16,5,3,9,14,6,6,3,2,0,0,2.70,3.50,2.7,2.65,3.40,2.65,2.65,3.4,2.6,2.73,3.43,2.77,2.62,3.40,2.7,2.63,3.50,2.75,35,2.75,2.67,3.50,3.38,2.8,2.69,33,1.92,1.85,2.05,1.97,18,-0.25,2.36,2.31,1.72,1.66,2.77,3.38,2.76,0,1,1,1,1

In [217]:
def away_points (row):
    if row['FTR'] == 'A' :
        return 3
    if row['FTR'] == 'H' :
        return 0
    if row['FTR'] == 'D' :
        return 1
    return 'Other'

df.apply (lambda row: away_points (row), axis=1)

df['away_points'] = df.apply (lambda row: away_points(row), axis=1)

In [224]:
df[
(df["HomeTeam"] == "Man United") |
(df["AwayTeam"] == "Man United")
].groupby("FTR")["home_points"].sum()

FTR
A     0
D     9
H    51
Name: home_points, dtype: int64

In [246]:
##df.groupby("HomeTeam")["home_points","away_points"].apply(lambda x : x.astype(int).sum())   

grouped = df.groupby("HomeTeam")["home_points","away_points"].apply(sum) 
grouped.sort_values('home_points', ascending=False)

##df.pivot_table(index='HomeTeam',columns='home_points',aggfunc=sum)

## Need to; 1. create a DF for home points by home team & away points by away team 2. Name the team column in each DF the same 3. Sum the 2 DFs

/Users/callumoconnor/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  This is separate from the ipykernel package so we can avoid doing imports until

                home_points  away_points
HomeTeam
Man City                 54            3
Liverpool                53            2
Arsenal                  45            9
Chelsea                  42            9
Tottenham                38           17
Man United               36           15
Everton                  34           19
Wolves                   34           19
West Ham                 31           22
Bournemouth              29           23
Watford                  27           27
Leicester                27           27
Newcastle                25           31
Burnley                  23           32
Southampton              23           26
Brighton                 23           29
Fulham                   21           33
Crystal Palace           20           32
Cardiff                  20           35
Huddersfield              9           45